/*
*
{
	border: 3px dash white;
}
*/
:root
{
	--lav-gray: rgb(196,195,208);
}
body
{
	text-align: center;
	text-color: black;
	list-style-position: center-inline;
	background-color:  var(--lav-gray);
}
header
{
	background-color:  brandeis blue;
	text-color: black;
	border: 5px dashed white;
	margin: 10px 100px;
}
header h1
{
	font-size:  60pt;
	text-color: black;
	margin-top:  10px;
	margin-bottom: 0;
}
header h2
{
	font-size:  20pt;
	text-color: white;
	color: var(--lav-gray);
	font-variant: small-caps;
}
main h1
{
	font-size:  70pt;
	text-color: black;
	font-family: 'Georgia, serif', cursive;
	margin: 0;
}
h1+h2
{
	margin-top: -15px;
}
main h2
{
	text-decoration: underline;
	text-color: black;
	font-weight: bold;
	margin-bottom: 0;
}
main ul
{
	display:  table;
	text-color: black;
	text-align:  left;
	padding-left: 2px;
}
