/*
*
{
	border: 1px solid black;
}
*/
:root
{
	--my-blue: rgb(0,0,255);
}
body
{
	text-align: center;
	text-color: white;
	list-style-position: inside;
	background-color:  var(--my-blue);
}
header
{
	background-color:  brandeis blue;
	text-color: white;
	border: 5px solid white;
	margin: 10px 100px;
}
header h1
{
	font-size:  60pt;
	text-color: white;
	margin-top:  10px;
	margin-bottom: 0;
}
header h2
{
	font-size:  20pt;
	text-color: white;
	color: var(--my-red);
	font-variant: small-caps;
}
main h1
{
	font-size:  70pt;
	text-color: white;
	font-family: 'Georgia, serif', cursive;
	margin: 0;
}
h1+h2
{
	margin-top: -15px;
}
main h2
{
	text-decoration: underline;
	text-color: white;
	font-weight: bold;
	margin-bottom: 0;
}
main ul
{
	display:  table;
	text-color: white;
	margin: 0 auto;
	text-align:  left;
	padding-left: 2px;
}
